.background-container {
    background-size: cover;
    width:25rem;
    height: 20rem;
}
.card{
    border-radius: 20px;
    padding: 25px;
    background-color: #ffffff;

}
.main-heading{
    color: #5752ab;
    margin: 10px;
}
.paragraph{
    color: #323f4b;
    margin: 10px;
}
button{
    margin-right: 20px;
    margin-top: 10px;
}