.container{
    color: #5a7184;
    width: 30rem;
    height: 50rem;
    
}
.card{
    text-align: center;
    
}
.btn{
    margin-bottom: 40px;
   width: 200px;
   margin-left: 130px;
    
}
.container1{
    width: 30rem;
    text-align: center;
    border: 2px solid black;
    margin-left: 100px;
}
.home-item-selected{
    margin:20px;
    text-align: center;
    padding-left: 90px;

}
.para{
    margin-left: 35px;
}
