@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.container{
    color: #ffffff;
    width: 30rem;
    height: 100vh;
    
}
.card-text{
    justify-content: center;
    padding-left: 80px;
    font-family: serif;
}
.card-body{
    background-color: #03174c;
    padding: 0%;
    padding-right: 20px;
}
.button {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 12px;
    height: 30px;
    background-color: #8e97fd;
}
.container1{
    background-color: #03174c;
    color: #ffffff;
    width: 30rem;
    padding-left: 30px;
    
}
.home-item-image1 {
    width: 10rem;
    height: 190px;
    margin: 20px;
}
.home-item-description{
    color: #98a1bd;

}
#section1{
    padding-left: 100px;
    
}

