.container{
    background-color: #3e4c59;
}
.projects{
    background-color:rgba(0, 0, 0, 0.562);}
.main-heading{
 color: white;

}
.card-text{
    color: #9aa5b1;
}
.para{
    color: #9aa5b1; 
}
.para1{
    color: #cced00;
}
.heading{
    color: #cced00;
}