*{
    padding: 3px;
    
}
.heading{
    color: blue;
    
}
.list-item{
    text-decoration: line-through;
    color: darkgray;
}
ul{
    padding-left: 40px;
    margin:10px;
}
li{
    margin: 10px;
    font-weight: 600;
}
