*{
    margin: 30px;
}

.blue-bg{
    background-color: dodgerblue!important;
    padding: 30px;
}
.orange-bg{
    background-color: orange;
    padding: 30px;
}
.blue-bg{
    background-color: orange;
    padding: 30px;
}