#countLabel{
    text-align: center;
    display: block;
    font-size: 10em;
}
#btnContainer{
    text-align: center;
    font-size: 1.5em;
}
.buttons{
    padding: 10px 20px;
    color: wheat;
    background-color: rgb(114, 114, 226);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons:hover{
    background-color: rgb(14, 14, 235);
}